immich.homelab.ricardllop.com {
    reverse_proxy immich-server:2283
}
(local_only) {
    @blocked not remote_ip 192.168.0.0/24
    abort @blocked
}

immich.local {
    import local_only
    reverse_proxy immich-server:2283
}
jellyfin.local {
    import local_only
    reverse_proxy jellyfin:8096
}
adguard.local {
    import local_only
    reverse_proxy 192.168.0.2:81
}
